.card{
    display: flex;
    flex-direction: row;
}

.card-left, .card-right{
    height: 100vh;
    width: 100%;
}

.card-left{
    background: brown;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        border: 2px solid white;
    }
}
.card-right{
    background: rgb(160, 158, 158);
}

.card-right-content{
    padding: 1em;
}
.category{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

p{
    padding: 0.5em;
    text-align: justify;
    text-justify: inter-word;
}